{% extends "layout.html" %}
{% block content %}

<div class="container text-center">
    <div class="jumbotron jumbotron-fluid">
        <h1 style="font-size: 60px;">Hi! I am</h1>
        <h1 style="font-size: 60px; font-weight: 600;">Debargha Chowdhury</h1>
        <div class="conatiner" style="height: 180px; display: flex; align-items: center; justify-content: center;">
            <span class="auto" style="font-weight: 600; font-size: 50px; color: #FFDE59;"></span>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-8 text-start">
            <p class="lead text-justify">
                {{ home_text }}
            </p>
        </div>
        <div class="col-md-4 d-flex flex-column flex-md-column align-items-center justify-content-md-start mt-4">
            <a href="{{ url_for('resume') }}" class="btn btn-primary mb-3 fw-bold">Download CV
                <i class="fas fa-download"></i>
            </a>
            <p class="fw-light text-wrap">...or if you prefer to get in touch</p>
            <a href="{{ url_for('contact') }}" class="btn btn-primary fw-bold">Contact Me</a>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto", {
        strings: {{ roles|tojson|safe }},
        typeSpeed: 60,
        backSpeed: 30,
        loop: true,
      });
    </script>

{% endblock content %}